<!doctype html>
<head>
{% block header %}
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lte IE 8]>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<title>Ansible Maintainers</title>
{% endblock %}
</head>
<body>
  <div class="page">
    <div class="container">
    {% block body %}{% endblock %}
    </div>
  </div>
  {% block footer %}
  <footer class="container">
  <div class="pure-g">
    <div class="pure-u-1">
      <small>
      Last update: {{ last_updated }} - <a href="https://framagit.org/pilou/ansible-maint/">Source</a> - Version: {{ version }}
      {% if contact %}
      - <a href="{{ contact }}">Contact</a>
      {% endif %}
      </small>
    </div>
  </div>
  </footer>

  {% endblock %}
</body>
