{% extends "layout.html" %}
{% block body %}
<div class="pure-g namespace">
  <div class="pure-u-1">
    <h1>Ansible <em>{{ namespace }}</em> namespace maintainers</h1>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
    <h2>Request reviews sample</h2>
  </div>
  <div class="pure-u-1 pure-u-lg-1-24">
    <a href="#" id="copy" title="copy"><img src="{{ url_for('static', filename='copy.svg') }}" /></a>
  </div>
  <div class="pure-u-1 pure-u-lg-23-24">
    <div class="template">
{% set separator = joiner(", ") %}
{{ prefix }} {% for selected in selections %}{{ separator() }}@<span>{{ selected }}</span>{% endfor %} {{ suffix }}
    </div>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
  <h2><em>{{ namespace }}</em> namespace maintainers list</h2>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1 pure-u-sm-1-2">Filter on activity on <em>ansible/ansible</em> repository:</div>
</div>
<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-5-8">
    <button class="pure-button button-small" onclick="filter_maintainers(this, 7)">1 week</button>
    <button class="pure-button button-small pure-button-active" onclick="filter_maintainers(this, 14)">2 weeks</button>
    <button class="pure-button button-small" onclick="filter_maintainers(this, 30)">1 month</button>
    <button class="pure-button button-small" onclick="filter_maintainers(this, 45)">6 weeks</button>
    <button class="pure-button button-small" onclick="filter_maintainers(this, 0)">All</button>
  </div>
</div>
<div class="pure-g maintainers">
{% for maintainer in maintainers %}
  <div class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3">
      <a href="https://github.com/{{ maintainer }}" data-login="{{ maintainer }}" data-activity="{{ maintainers[maintainer]['activity'] }}" title="{{ (maintainers[maintainer]['activity']|string)[0:7] }}"
        {% if not maintainers[maintainer]['activity'] %} class="inactive"><small>{% else %}>{% endif %}
          @{{ maintainer }}
          {% if maintainers[maintainer]['name'] %}({{ maintainers[maintainer]['name'] }}){% endif %}
        {% if not maintainers[maintainer]['activity'] %}</small>{% endif %}
      </a>
  </div>
{% endfor %}
</div>
{% if selections %}
<script type="text/javascript" src="{{ url_for('static', filename='copy.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='filter_maintainers.js') }}"></script>
<script type="text/javascript">filter_maintainers(null, 14);</script>
{% endif %}
{% endblock %}
