{% extends "layout.html" %}
{% block body %}
<div class="pure-g namespace">
  <div class="pure-u-1">
    <h1>Ansible namespace maintainers</h1>
  </div>
</div>
<br />
<div>
  <div class="pure-g">
    <div class="pure-u-1">
      <p>Select an Ansible namespace in order to display related maintainers</p>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <input type="text" id="search" onkeyup="filter_namespaces()" placeholder="Search for namespaces..">
    </div>
  </div>
  <div id="namespaces-list" class="pure-g">
    {% for namespace in namespaces %}
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3">
      <a href="./{{ namespace }}">{{ namespace }}</a>
    </div>
    {% endfor %}
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='filter_namespaces.js') }}"></script>
{% endblock %}
