.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.namespace {
  border-bottom: 1px solid #e5e5e5;
}

.maintainers, #namespaces-list {
  background-color: #eff;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  padding: 10px;
}

.template {
  background-color: #f2f2f2;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  padding: 10px;
}

#search {
  width: 100%;
  margin-bottom: 1em;
}

.button-small {
  font-size: 80%;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 6em;
}

.button-small {
  background-color: #ECECEC;
}

.button-small.pure-button-active {
  background-color: #E0E0E0;
}

.inactive {
  text-decoration: none;
  color: grey;
}
